<div class="page-title">
    <div class="title_left">
        <h3>Cadastrar um novo Setor de Serviço</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">         
            <div class="x_title">
                <h2>Insira as informações para cadastrar um novo setor de serviço. <small>* obrigatórios</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"></a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!--<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">-->
                <?= $this->Form->create($usermodulo, ["class" => "form-horizontal form-label-left"]) ?>
                <?= $this->Flash->render() ?>                              
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="razao">Módulo <span class="required">*</span>
                    </label>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <?= $this->Form->input('modulo_id', ["class" => "form-control col-md-7 col-xs-12", 'label' => false, 'options' => $modulos]); ?>
                    </div>
                </div>          
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="razao">Usuário <span class="required">*</span>
                    </label>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <?= $this->Form->input('user_id', ["class" => "form-control col-md-7 col-xs-12", 'label' => false, 'options' => $users]); ?>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success">Cadastrar</button>

                        <?= $this->Html->link(__('Voltar'), ['action' => 'index'], ['class' => "btn btn-primary"]) ?> 
                    </div>
                </div>
                <?= $this->Form->end() ?>
            </div>
        </div>
    </div>
</div>